<section class="sobre-mi" id="sobre-mi">
  <div class="contenido-sobremi">

    <div class="columna izquierda">
      <img src="/assets/img/login1.jpg" alt="">
    </div>

    <div class="columna derecha">
      <div class="centrar">
        <h2 class="mb-3">Regustrate</h2>
        <hr>
        <div class="container">
        <div class="body">
          <img src="/assets/img/user.png" alt="imagen de usuario"> 
        </div>
<form [formGroup]="signUpForm" (ngSubmit)="submit()">
 
  
  <!-- Name -->
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="name" autocomplete="off" />
    <mat-error *ngIf="name?.errors?.['required']">
      El nombre es requerido
    </mat-error>
  </mat-form-field>


  <!-- Email -->
  <mat-form-field>
    <input matInput placeholder="Correo electronico" formControlName="email" autocomplete="off" />
    <mat-error *ngIf="email?.errors?.['required']">
      El correo electronico es requerido
    </mat-error>
    <mat-error *ngIf="email?.errors?.['email']">
      Por favor introduzca un correo electronico valido
    </mat-error>
  </mat-form-field>


  <!-- Contraseña -->
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña" formControlName="password" />
    <mat-error *ngIf="password?.errors?.['required']">
      La Contraseña es requerida
    </mat-error>
  </mat-form-field>


  <!-- Confirmar contraseña -->
  <mat-form-field>
    <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword" />
    <mat-error *ngIf="confirmPassword?.errors?.['required']">
      Se requiere confirmar la contraseña
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']" style="text-align:center;">
    La contrseña no es igual
  </mat-error>
  <div class="center margin-top">
    <button type="submit" mat-raised-button style="background-color: #333333; color: #f7cac9;">Registrarte</button>
  </div> 
</form>
</div>
</div>
</div>
</div>
</section>