
mat-form-field {
  width: 100;
  display: block;
  margin: 2% auto;
}
.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}
button{
  display: block;
  width: 80%;
  margin: 2% 0;
  padding: 2%;
  font-size: 20px;
}

h2 {
  font-family: sacramento;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f7cac9;
  margin: 15px;
}
.centrar {
  text-align: center;
}
.body img {
  width: 7%;
  margin: 10px;
  text-align: center;

}


.ancho {
  width: 30%;
  text-align: center;
  
}

.boton {
  height: 50px;
  width: 30%;
  margin: 10px;
  font-family: Poiret One;
  font-size: 1.2rem;
}

.derecha{
  float: right;
}
.izquierda{
  width: 45%;
  float: left;
  
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  width: 380px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 55%;
  
}

.ancho {
  width: 60%;
}

a{
  font-family: sacramento;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
span{
  font-family: sacramento;
  color:#f7cac9;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Poiret One;
}


mat-form-field {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}
button{
  display: block;
  width: 80%;
  margin: 2% 0;
  padding: 2%;
  font-size: 20px;

}
.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  height:500%;
  width: 100%;
  display: block;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 75%;
  margin: 5% auto;
  border-radius: 8px;
  height: 200%;
}

mat-form-field {
  width: 450%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 0px;
}

/* .login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
} */

h2 {
  font-family: sacramento;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f7cac9;
  margin: 15px;
}
.centrar {
  text-align: center;
}
.body img {
  width: 7%;
  margin: 10px;
  text-align: center;

}


.ancho {
  width: 30%;
  text-align: center;
  
}

.boton {
  height: 50px;
  width: 30%;
  margin: 10px;
  font-family: Poiret One;
  font-size: 1.2rem;
}

.derecha{
  float: right;
}
.izquierda{
  width: 45%;
  float: left;
  
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  width: 380px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 55%;
  
}

.ancho {
  width: 60%;
}

a{
  font-family: sacramento;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
span{
  font-family: sacramento;
  color:#f7cac9;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: Poiret One;
}


