.example-card {
  max-width: 400px;
}
/* 
.example-header-image {
  background-image: url('https://i.pinimg.com/originals/dc/8b/ce/dc8bce5e8736e013ea95fbb26b3a75ab.jpg');
  background-size: cover;
} */
