.cuerpo{
  /* background-size: cover; */
  /* background-color: grey; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
  display: flex;
  font-family:'Montserrat', sans-serif ;
}

.descripcion{
  resize: none;
}

.form-contenido{
 background-color: #f7cac9;
  width: 90%;
  height: 40%;
  margin: 50% auto;
  padding: 1em;
  border-radius: 10px;
  margin-left: 96%;
  text-align: center;
  font-family:'Montserrat', sans-serif ;
  color: #333333;
}

.pub{
  background-color:#333333;
  height: 35px;
  width: 80px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #f7cac9;
}

.cajas-dia{
  width: 45% ;
  margin: 1% 2%;
  font-family:inherit ;
}

.cajas{
  width: 95%;
  margin: 1% auto;
  font-family:inherit ;
}

.cajas mat-label{
  color: black;
}

.btn{
  padding: 3%;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{
  font-weight: 600;
  color: #ff0000a6;
}

@media (max-width:768px) {
  .form-contenido {

    width: 80%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;

  }
}

@media (max-width:320px) {
  .form-contenido{

    width: 90%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
  text-align: center;

  }
}