@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.imagen{
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-position: center center;
}
.i1{
  border-left: 0px;
}

.fondo{
  height: 100%;
  width: 100%;
}

h1{
  color: black;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  /* top: 50%; */
  margin: 27% 15%;
  position: absolute;
  z-index: 2;
  text-align: center;
  font-family: sacramento;
  background-color: rgba(160, 160, 160, 0.4);
  padding: 40px;
  border-radius: 10px;
  
}


