@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.cabecera {
  background-image: url("/assets/img/cabecera2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 6%;
  color: #f7cac9;
  font-family: sacramento;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 40px; 
}
.titulo{
  color: #fff;
  font-family: sacramento;
  font-size: 3rem;
  margin-left: 30px;
  font-weight: 500;
}

.barra{
  justify-content: space-between;
  background-color: #f7cac9;
  color: #333333;
}
/* .content{
  padding: 32px;
} */