<div class="cabecera">
  <span>Mi Foro Moda</span>
</div>

<mat-toolbar class="barra">
  <span class="titulo">Moda Scarleth</span>
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-raised-button style="background-color: #fff;font-family: Poiret One; font-weight: 500; color: #333333;" routerLink="login">Registrate</button>
    
    
  </ng-template>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">

  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Perfil
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Cerrar sesion
  </button>
  
</mat-menu>