.mat-toolbar{
  justify-content: space-around;
  background-color: #333333;
  width: 45%;
  margin-top: 30px;
  margin-left: 10px;
  font-family: sacramento;
  font-size: 3.5rem;
  border-radius: 30px;

}
a{
  text-decoration: none;
  color: white;
}