<div>
  <button class="agre" routerLink="/agregar-publicacion">Agregar publicacion</button>
</div>
<div *ngFor="let post of posts">
  <mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="color:#f7cac9; font-family: sacramento; font-size: 2rem; ">{{post.titulo}}</mat-card-title>
      <mat-card-subtitle style="color:#fff ;">Autor</mat-card-subtitle>
    </mat-card-header>

    <!-- <img mat-card-image src="https://i.pinimg.com/originals/19/64/89/1964894fae0eb01de7a0a63c0d945d8b.jpg" alt="Photo of a Shiba Inu"> -->

    <mat-card-content>
      <p>
        {{post.fecha}}
      </p>
      <p>
        {{post.descripcion}}
      </p>
    </mat-card-content>

    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
    
  </mat-card>
  
</div>


