.example-card {
  max-width: 90%;
  display: inline-block;
  margin: 2% 2%;
  margin-left: 30px;
  background-color: #333333;
  border-radius: 10px;
  color: #fff;
}

.example-header-image {
  background-image: url('https://i.pinimg.com/originals/5b/e1/f3/5be1f364db28651317f84ba83f6c7930.jpg');
  background-size: cover;
}

.agre{
  margin-left: 70%;
  margin: 30px;
  width: 20%;
  height: 100%;
  background-color: #f7cac9;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}